<h1>
  {{title}}
</h1>

<alert type="success">hello</alert>

<carousel>
  <slide>
    <div class="container">
      <div class="form-group">
         <label class="control-label">label:</label>
         <div class="form-control">
           <input type="text">
         </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="container">
      <div class="form-group">
         <label class="control-label">label:</label>
         <div class="form-control">
           <input type="text">
         </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="container">
      <div class="form-group">
         <label class="control-label">label:</label>
         <div class="form-control">
           <input type="text">
         </div>
      </div>
    </div>
  </slide>
</carousel>